# IGNORED FILES & DIRECTORIES
# Elwood Berry
# www.elwoodberry.com
# Last Updated May 1st, 2017
# ------------------------------------------


# System Files
.DS_Store
Thumbs.db

# Dependencies
/node_modules

# References
references.md