# IGNORED FILES & DIRECTORIES
# Elwood Berry
# www.elwoodberry.com
# Last Updated April 26th, 2017
# ------------------------------------------


# System Files
.DS_Store
Thumbs.db

# dependencies
/node_modules