<!-- <h1>{{title}}</h1> -->


<div style="display: block;background-color: aliceblue;text-align: center;position: absolute;width: 100%;height: 50px;left: 0;top: 50%;">

Elwood S. Berry III <br/>
Full Stack JavaScript Developer <br/>
me@elwoodberry.com <br/>
 <br/>
Blacklick, OH 43004 <br/>
(469) 609-7444 <br/>
 <br/>
Visit My Website:  http://elwoodberry.com <br/>
 <br/>
Download The Latest Version Of My Resume: http://bit.ly/2prschc  <br/>
 <br/>
I am also the author "One Million Per Hour". http://www.amazon.com/books/dp/0615628079 <br/>

</div>