<div id="appComponent" class="fluid-container">

  <!--
  SPLASHHEAD
  -->
  <section id="splashHead" class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="displayPanel">
            <img src="assets/img/elwoodberry.png">
            <h2>{{profile[0].firstName}} {{profile[0].middleName}} {{profile[0].lastName}}</h2>
            <h4>{{profile[0].title}}</h4>
            <p>{{profile[0].summary}}</p>
          </div>

        </div>
      </div>
    </div>
    <div class="transparency"></div>
  </section>

  <!-- [ STACK LOGOS ] -->
  <section id="stackLogos" class="container-fluid">
    <div class="container">
      <h3>My preferred technology stack.</h3>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-3" *ngFor="let logo of stackLogos">
          <a href="{{logo.url}}" target="_blank">
            <img id="{{logo.title}}" src="{{logo.imgLocation}}">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- [ GITHUB ] -->
  <section id="github" class="container-fluid">
    <div class="container">
      <h3>My project version control repositories.</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 githubCell" *ngFor="let project of github">
          <div class="panel">
            <div class="panel-heading">
              <a href="{{project.url}}" target="_blank">
                <img style="width: 100%;" src="{{project.img}}">
              </a>
            </div>
            <div class="panel-body">
              <ul>
                <li>
                  <a href="#" target="_blank">
                    <h4>{{project.title}}</h4>
                  </a>
                </li>
                <li style="margin-bottom: 10px;">
                  <h3>Technology Packages</h3>
                  <ul>
                    <li *ngFor="let package of project.stack">
                      <a href="{{package.url}}" target="_blank">{{package.name}}</a>
                    </li>
                  </ul>
                </li>
                <li>{{project.description}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- [ EMPLOYERS ] -->
  <section id="employers" class="container-fluid">
    <div class="container">
      <h3>Companies that I have had the pleasure of working with.</h3>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-3" *ngFor="let employee of employers">
          <a target="_blank" href="{{employee.url}}">
            <img id="{{employee.name}}" alt="Verizon" src="{{employee.img}}">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- [ FOOTER ] -->
  <section id="footer" class="container-fluid">
    <div class="container">

      <div class="row">
        <div class="col-md-6">

          <div class="panel">
            <h1>Contact Me</h1>
            {{profile[0].address}}<br/>
            {{profile[0].country}}<br/>
            <br/>
            <strong>Phone</strong>: {{profile[0].phone}}<br/>
            <strong>Email</strong>: {{profile[0].email}}<br/>
            <div class="social-icons">
              <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3" *ngFor="let icon of social">
                  <a href="{{icon.url}}" target="_blank">
                    <i class="fa {{icon.class}}" aria-hidden="true"></i>
                  </a>
                </div>
              </div>  
            </div>
          </div>

        </div>
        <div class="col-md-6" style="text-align: center; margin-top: 60px;">

          <h2>Learn Why I Am A Great Fit For Your Company.</h2>
          <button class="btn btn-primary btnResume" type="button" value="View My Resume" (click)="launchResume()">View My Resume</button>
        </div>
      </div>

      <div class="copywrite">
        &copy; 2017 ElwoodBerry.com - Elwood S. Berry III | Full Stack JavaScript Developer
      </div>
    </div>
  </section>

</div>